:root{
	--mainColor:#000;
	--secondaryColor:#000;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(26, 21, 27, 0.8);
	--previewShadow:#1b181d;


	--buttonColor:#d5b6e0;


}
